# Virtual Environments
venv/
new_venv/
venv2/  

# Python
__pycache__/
*.py[cod]
*$py.class

# Database
db.sqlite3

# Environment Variables
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Python cache
.pytest_cache/
.mypy_cache/
.coverage

# Media (لو مش عايزة ترفعي ملفات المستخدمين)
media/

# Static collected files (لو بتستخدمي collectstatic)
staticfiles/